In [5]:
import pandas as pd
def fooA():
    with open("../testdata/ragged.csv", 'rt') as f:
        x0 = pd.read_csv(f,header=None,nrows=2)
        f.seek(0)
        x1= pd.read_csv(f,header=None,skiprows=2,nrows=2)
    return x0,x1
def fooB():
    x0 = pd.read_csv("../testdata/ragged2.csv",header=None,nrows=2)
    x1 = pd.read_csv("../testdata/ragged2.csv",header=None,skiprows=2,nrows=2)
    return x0,x1
def fooC():
    x=pd.read_csv("../testdata/ragged3.csv",header=None,names=range(4))
    x0=x.iloc[:2,:3]
    x1=x.iloc[2:,:]
    return x0,x1

In [2]:
%timeit [fooA() for i in range(100)]

292 ms ± 21.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
%timeit [fooB() for i in range(100)]

250 ms ± 44.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
%timeit [fooC() for i in range(100)]

190 ms ± 25.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
x=pd.read_csv("../testdata/ragged3.csv",header=None,names=range(4))
x

   0  1  2    3
0  1  2  3  NaN
1  2  2  3  NaN
2  1  2  3  4.0
3  2  2  3  4.0

In [13]:
x.iloc[0:None,1:2]

   1
0  2
1  2
2  2
3  2

In [38]:
x=pd.Series([1, "2", "   "]).astype(dtype="str").str.strip()
x[0]

'1'