In [21]:
import pandas as pd
my_cols = range(10)
x = pd.read_csv("../testdata/ragged.csv",names=my_cols).dropna(how='all',axis=1) 
x

   0  1    2    3    4
0  1  2  3.0  NaN  NaN
1  1  2  3.0  4.0  NaN
2  1  2  3.0  4.0  5.0
3  1  2  NaN  NaN  NaN
4  1  2  3.0  4.0  NaN